# Enable CORS for all files
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>

# Proper MIME types for all files
<IfModule mod_mime.c>
    AddType application/octet-stream .bundle
    AddType application/json .json
    AddType application/wasm .wasm
    AddType application/javascript .js
</IfModule>